.body {
  margin: 0;
  position: relative;
}

.header {
  width: 100%;
  height: 900px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header__content {
  width: 100%;
  height: 830px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/cosm2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__nav {
  width: 100%;
  height: 70px;
  background-color: black;
}

.header__button {
  background-color: rgba(28, 28, 143, 0.59);
  padding: 0.5em 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.header__button:hover {
  background-color: #202096;
  -webkit-box-shadow: inset 0px 0px 20px 4px rgba(0, 0, 0, 0.49);
          box-shadow: inset 0px 0px 20px 4px rgba(0, 0, 0, 0.49);
}

.header__logo {
  width: 50px;
  height: 50px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__img {
  width: 50px;
}

.nav__wrap {
  width: 100%;
  margin: 0 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__items {
  color: white;
  font-family: 'Staatliches', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  padding: 0 10px 0 10px;
  line-height: 50px;
}

.nav__link {
  text-decoration: none;
  color: white;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.nav__link:hover {
  color: rgba(71, 77, 128, 0.876);
}

.blur {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.button {
  border: none;
  cursor: pointer;
}

.h-blocker {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fail-message {
  color: rgba(255, 68, 0, 0.576);
  text-align: center;
}

.registration {
  position: absolute;
  width: 400px;
  height: 500px;
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid black;
  border-radius: 6px;
}

.registration__close {
  position: absolute;
  right: 0;
  top: 5px;
  background-color: transparent;
}

.registration__close:hover {
  color: coral;
}

.registration__form {
  margin: 15px;
  padding: 0 15px;
}

.registration__input {
  background-color: transparent;
  position: absolute;
  border: 2px solid transparent;
  z-index: 2;
}

.registration__button {
  margin: 0 auto;
  background-color: #3636ff;
  color: white;
  padding: 0.5em 1em;
  display: block;
}

.form__input {
  position: relative;
  margin: 15px;
  width: 147px;
  height: 22px;
  background-color: white;
  border-radius: 3px;
}

.form__input_alarm {
  border: 1px solid orangered;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(232, 51, 23, 0.78);
          box-shadow: 0px 0px 4px 1px rgba(232, 51, 23, 0.78);
}

.form__lable {
  position: absolute;
  color: rgba(65, 65, 65, 0.604);
  left: 5px;
  top: 3px;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

.form__lable_sm {
  left: 1px;
  top: -15px;
  font-size: 12px;
  color: rgba(87, 87, 87, 0.652);
}

.form__lable_alarm {
  color: rgba(255, 68, 0, 0.815);
}

.form__warning {
  width: 150px;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  border: 1px solid #feb020;
  border-radius: 4px;
  left: 220px;
  top: 75px;
  background: linear-gradient(135deg, #f9b841, #ffd890);
}
/*# sourceMappingURL=style.css.map */